# Build output
_site/
vendor/

# Jekyll config & data
_config.yml
_data/**

# Jekyll content
_posts/**
_news/**
_pages/**

# Liquid templates
**/*.liquid

# Assets that should not be reformatted
**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html

# Lighthouse
lighthouse_results/**
